@model List<HandsonTable.Models.Employee>
@{
    ViewBag.Title = "XBLR";
}

<html>
<head>
    <meta charset="utf-8" />
    <h1>XBLR of Relyon</h1>
    <link rel="stylesheet" media="screen" href="~/Content/css/handsontable.full.css"/>
    <script src="~/Content/js/handsontable.full.js"></script>
    <!--Manipulation of date-->
    <link rel="stylesheet" media="screen" href="~/Content/css/pickaday.css" />
    <script data-jsfiddle="common" src="~/Content/js/moment.js"></script>
    <script data-jsfiddle="common" src="~/Content/js/pickaday.js"></script>

</head>
<body>
    <div id="ResultTable">
        <script>
            dataValue = @Html.Raw(Json.Encode(Model));
            configuration = {
                data: dataValue,
                colHeaders: ['Employee Id', 'Name','Designation','isPunctual', 'Performance', 'Mobile', 'CTC', 'DOJ'],
                columns: [
                    {
                        data: 'empId',
                        type: 'numeric',
                    },
                        {
                            data: 'name'
                        },
                        {
                            data: 'designation',
                            type: 'autocomplete',
                            source: ['Software Developer', 'Tester', 'Implementation', 'Support']
                        },
                        {
                            data: 'isPunctual',
                            type: 'checkbox'
                        },
                        {
                            data: 'performance',
                            type: 'dropdown',
                            source: ['Best', 'Good', 'Worst']
                        },
                        {
                            data:'mobile',
                            type: 'numeric'
                        },
                        {
                            data:'ctc'
                        },
                        {
                            data:'doj',
                            type: 'date',
                            dateFormate: 'DD/MM/YYYY'
                        }
                ]
            };

            tblExcel = new Handsontable(document.getElementById('ResultTable'),
            configuration);
            tblExcel.render();
        </script>
    </div>
</body>
</html>